@charset "utf-8";

html {
    font-size: 16px;
}

body {
    color: #624649;
    font-size: 1rem;
}

/* header */
header {
    background: #3C4767;
}

#head {
    display: flex;
    height: auto;
}

h1 {
    flex-basis: 75%;
}

.lists {
    font-size: 25px;
    color: #6C6C6C;
    padding-left: 10px;
    padding-top: 10px;
}

.icons {
    border-radius: 45px;
}

.image-dawn {
    width: auto;
    height: 80px;
    vertical-align: bottom;
}

/*プルダウンメニューの設定*/
.pulldown-wrapper {
    position: relative;
    top: 20px;
    height: 70px;
    max-width: 1000px;
    flex-basis: 25%;
}

/*プルダウンメニュー(開く前=user名+img)*/
.pulldown-username {
    display: flex;
}

.pulldown-username p {
    color: #fff;
}

.init-bottom {
    margin-top: 10px;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pulldown-username img {
    display: block;
    margin-left: 10%;
    height: 50px;
    border-radius: 45px;
}

/*プルダウンメニュー開いたとき*/
ul {
    display: block;
}

.pulldown-menu {
    display: none;
    width: auto;
    position: absolute;
    top: 40px;
    z-index: 10;
}

.pulldown-username:hover .pulldown-menu {
    display: block;
}

.pulldown-list {
    background-color: #fff;
    height: 50px;
    transition: all .3s;
}

.pulldown-list:hover {
    background-color: #DC143C;
    color: #fff;
}

.pulldown-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    width: auto;
}

/* main content */

#row {
    display: flex;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    margin-right: auto;
    border-left: 1px solid #6C6C6C;
}

#side-bar p {
    margin-top: 5px;
}

#confirm {
    display: block;
}

#confirm div {
    position: relative;
}

.follows,
.followers {
    display: flex;
}

.numbers {
    position: absolute;
    margin-left: 80%
}

.btn a {
    color: #fff;
    background-color: #3C4767;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px #627295;
    border-radius: 3px;
    margin-left: 30%;
}

.btn a:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

/*つぶやき設定*/
.index-posts textarea {
    margin-top: 10px;
    margin-left: 10px;
}

.top-posts {
    display: block;
    text-align: left;
}

.headline {
    text-align: center;
    vertical-align: middle;
}

.posts-users {
    vertical-align: middle;
    padding-left: 10px;
}

.posts {
    vertical-align: middle;
    padding-left: 40px;
}

.posts-time {
    vertical-align: middle;
    padding-left: 100px;
}

.top-posts tr {
    border-bottom: 1px solid gray;
}

/*編集モーダルの設定*/
.edit {
    display: flex;
    width: 400px;
    align-items: flex-start;
}

.edit img {
    margin-left: 50%;
    padding-top: 5%;
}

.modal-open {
    margin-left: 20%;
    cursor: pointer;
}

.delete-btn {
    margin-left: 35%;
    padding: 5px;
}

.updateModal {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.postModal {
    position: absolute;
    left: 25%;
    top: 33%;
    width: 50%;
    height: 33%;
    background-color: #fff;
}

.modalClose {
    top: 10%;
    left: 95%;
    position: absolute;
    cursor: pointer;
}

.post-update {
    position: absolute;
    left: 25%;
    top: 33%;
    width: 50%;
    height: 33%;
}

.edit-btn {
    position: absolute;
    left: 80%;
    top: 50%;
}

/**フォローリスト・フォロワーリスト*/
.lists-icons {
    padding: 5px;
}

.lists-posts div {
    display: flex;
    align-items: center;
}

.lists-posts img {
    display: block;
}

.lists-posts p {
    padding-left: 15px;
}

/**ユーザー検索*/
.search-users {
    padding: 10px;
}

.search-results {
    margin-left: 80px;
}

.search-results td {
    padding-left: 20px;
    vertical-align: middle;
}

.follow {
    color: #fff;
    background-color: #3C4767;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px #627295;
    border-radius: 3px;
    padding-left: 10px;
}

.unfollow {
    color: #fff;
    background-color: red;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px red;
    border-radius: 3px;
}

button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

/**マイプロフィール*/
.my-profile {
    margin: 0 auto;
    width: 500px;
}

.my-profile img {
    width: 50px;
    height: 50px;
}

.myProfile {
    width: 500px;
}

.myProfile label {
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myProfile textarea {
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-update {
    color: #fff;
    background-color: #008080;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 250px;
}

/**相手のプロフィール*/
.profiles {
    margin: 0 auto;
    width: 500px;
}

.profiles img {
    margin: 15px;
}

.profiles table {
    width: 250px;
    margin-left: 80px;
}

.follow-btn {
    margin-left: 80%;
    color: #fff;
    background-color: #3C4767;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px #627295;
    border-radius: 3px;
}

.unfollow-btn {
    margin-left: 80%;
    color: #fff;
    background-color: red;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px red;
    border-radius: 3px;
}

.time {
    vertical-align: middle;
    padding-left: 200px;
}
